---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostsList from "../components/PostsList.astro";
import {
  getTranslationsMap,
  getTranslationUrl,
  type BlogEntry,
  getArticles,
  getTechPosts,
} from "../lib/content";

const articlesPosts = await getArticles();
const techPosts = await getTechPosts();
const translationMap = await getTranslationsMap();

const withTranslations = (list: BlogEntry[]) =>
  list.map((post) => ({
    post,
    translationUrl: translationMap.get(post.slug)
      ? getTranslationUrl(translationMap.get(post.slug)!)
      : undefined,
  }));

const articles = withTranslations(
  articlesPosts.filter((p) => !p.data.tags?.includes("reviews"))
);
const reviews = withTranslations(
  articlesPosts.filter((p) => p.data.tags?.includes("reviews"))
);
const tech = withTranslations(techPosts);
---

<BaseLayout title="Blog" currentPath="/blog/">
  <section>
    <div class="mt-0">
      <h2 class="mt-0 title-heading text-gray-400 font-light text-base">
        Articles
      </h2>
    </div>
    <div class="flex flex-col">
      {
        articles.map(({ post, translationUrl }) => (
          <PostsList post={post} translationUrl={translationUrl} />
        ))
      }
    </div>

    <div class="mt-6">
      <h2 class="title-heading text-gray-400 font-light text-base">Tech</h2>
    </div>
    <div class="flex flex-col">
      {
        tech.map(({ post, translationUrl }) => (
          <PostsList post={post} translationUrl={translationUrl} />
        ))
      }
    </div>

    <div class="mt-6">
      <h2 class="title-heading text-gray-400 font-light text-base">Reviews</h2>
    </div>
    <div class="flex flex-col">
      {
        reviews.map(({ post, translationUrl }) => (
          <PostsList post={post} translationUrl={translationUrl} />
        ))
      }
    </div>
  </section>
</BaseLayout>
